@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Outfit', sans-serif;
  --font-serif: 'Newsreader', serif;
  --font-mono: 'Space Mono', monospace;
  --ease-premium-spring: cubic-bezier(0.32,0.72,0,1);
}

@layer base {
  body {
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Hide scrollbar for the infinite marquee */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
